
.icon-part:before { content: '\e803'; } /* '' */
.icon-diagram:before { content: '\e804'; } /* '' */
.icon-swtich:before { content: '\e806'; } /* '' */
.icon-settings:before { content: '\e807'; } /* '' */
.icon-two-databases:before { content: '\e808'; } /* '' */
.icon-start:before { content: '\e80a'; } /* '' */
.icon-loyalty:before { content: '\e80b'; } /* '' */
.icon-client:before { content: '\e80c'; } /* '' */
